#address-container {
  margin-right: 15px;
}
#balances-container {
  padding-left: 15px;
}
.balances-item {
  color: #3ecdfd;
  padding: 18px;
}
.active {
  background-color: #3ecdfd;
  color: white;
  border-radius: 10px;
}
#exchange-title {
  padding: 15px;
  padding-bottom: 20px;
  font-size: 24px;
  letter-spacing: .5px;
  color: #3ecdfd;
}
#src-token-balance {
  color: #aaa;
  font-size: 14px;
}
#submit-button {
  background-color: #3ecdfd;
  padding: 10px;
  width: 200px;
  border-radius: 30px;
}
.jumbotron {
  background-color: #3ecdfd;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}
.card {
  height: 205px;
}
.full-width {
  width: 100%;
}
.rate {
  padding-top: 30px;
  padding-bottom: 10px;
  color: #3ecdfd;
}
#exchange-icon {
  font-size: 70px;
  margin-left: -40px;
  color: #3ecdfd;
}
.pending {
  padding-top: 10px;
  color: #aaa;
}
