<app-header></app-header>
<div class="jumbotron jumbotron-fluid">
  <div id="address-container" class="row justify-content-end">
    <span>Account:</span>
    <span class="font-weight-bold px-1">{{account}}</span>
  </div>
  <div class="container">
    <h1 class="display-4">DEX wallet</h1>
    <p class="lead">Kyber decentralized exchange wallet</p>
  </div>
</div>
<div class="container">
  <div id="balances-container" class="row align-items-space-center">
    <ul class="list-inline">
      <li [class.active]="exchangeForm.value.srcToken.symbol === token.symbol" class="list-inline-item balances-item" *ngFor="let token of allTokenBalances">
        <h5> {{token.symbol}} </h5>
        <span class="small"> {{token.value.toFixed(5)}} </span>
      </li>
    </ul>
  </div>
  <div id="exchange-title" class="row align-items-end justify-content-start">
    Exchange
  </div>
  <div class="row">
    <div class="col">
      <form [formGroup]="exchangeForm" (ngSubmit)="onTrade()">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-5">
            <mat-card class="card">
              <mat-form-field class="full-width">
                <input matInput placeholder="From" aria-label="From" [matAutocomplete]="autoSrc" formControlName="srcToken">
                <mat-autocomplete #autoSrc="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let srcToken of filteredSrcTokens | async" [value]="srcToken">
                    <img style="vertical-align:middle;margin-right:5px" aria-hidden [src]="_DomSanitizer.bypassSecurityTrustUrl(srcToken.img)" height="25" />
                    <span>{{ srcToken.name }}</span> |
                    <small>{{srcToken.symbol}}</small>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field class="full-width">
                <mat-label>Amount</mat-label>
                <input matInput placeholder="0" aria-label="srcTokenQty" formControlName="srcTokenQty" autofocus>
              </mat-form-field>
              <span id="src-token-balance">Address balance {{srcTokenBalance}} {{exchangeForm.value.srcToken.symbol}}</span>
            </mat-card>
          </div>
          <div class="col-md-2 text-center">
            <mat-icon id="exchange-icon">swap_horiz</mat-icon>
          </div>
          <div class="col-md-5">
            <mat-card class="card">
              <mat-form-field class="full-width">
                <input matInput placeholder="To" aria-label="To" [matAutocomplete]="autoDest" formControlName="destToken">
                <mat-autocomplete #autoDest="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let destToken of filteredDestTokens | async" [value]="destToken">
                    <img style="vertical-align:middle;" aria-hidden [src]="_DomSanitizer.bypassSecurityTrustUrl(destToken.img)" height="25" />
                    <span>{{ destToken.name }}</span> |
                    <small>{{destToken.symbol}}</small>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field class="full-width">
                <mat-label>Amount</mat-label>
                <input matInput placeholder="0" aria-label="destTokenQty" formControlName="destTokenQty">
              </mat-form-field>
            </mat-card>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col text-center">
      <div class="rate">
        1 {{exchangeForm.value.srcToken.symbol}} = {{rate}} {{exchangeForm.value.destToken.symbol}}
      </div>
      <button id="submit-button" mat-raised-button color="primary" (click)="onTrade()">EXCHANGE</button>
      <div>
      <div class="pending">
        <span>{{txMessage}}</span>
        <div>{{txHash}}</div>
      </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
